@import '../../styles/carbon-components.min.css';

img {
    height: 16px;
    width: 16px;
}


// Icon tooltip styles
.bx--tooltip__trigger {
    &.bx--tooltip-- {
        &top,
        &right,
        &bottom,
        &left {
            &:hover .bx--assistive-text {
                background-color: #393939 ;
                color: #fff;
            }
        }

        &top,
        &right,
        &bottom,
        &left {
            &:focus .bx--assistive-text {
                background-color: #393939 ;
                color: #fff;
            }
        }

        &top {
            &.bx--tooltip--align- {
                &start::before,
                &end::before,
                &center::before  {
                    border-color: #393939 transparent transparent transparent;
                }
            }
        }

        &right {
            &.bx--tooltip--align- {
                &start::before,
                &end::before,
                &center::before  {
                    border-color: transparent #393939 transparent transparent;
                }
            }
        }

        &bottom {
            &.bx--tooltip--align- {
                &start::before,
                &end::before,
                &center::before  {
                    border-color: transparent transparent #393939 transparent;
                }
            }
        }

        &left {
            &.bx--tooltip--align- {
                &start::before,
                &end::before,
                &center::before  {
                    border-color: transparent transparent transparent #393939;
                }
            }
        }
    }
}


// Defination Tooltip Styles
.bx--tooltip__trigger.bx--tooltip__trigger--definition.bx--tooltip--{
    &top,
    &right,
    &bottom,
    &left{
        &:hover,&:focus {
            &+.bx--assistive-text {
                background-color: #393939;
                color: royal#fff;
            }
        }
    }
    &top {
        &.bx--tooltip--align-{
            &start,
            &end,
            &center {
                &::before {
                    border-color: #393939 transparent transparent transparent;
                }
            }           
        }
    }

    &bottom {
        &.bx--tooltip--align-{
            &start,
            &end,
            &center {
                &::before {
                    border-color: transparent transparent #393939 transparent;
                }
            }           
        }
    }
    
    &right {
            &.bx--tooltip--align-{
                &start,
                &end,
                &center {
                    &::before {
                        border-color: transparent #393939 transparent transparent;
                    }
                }           
            }
            
    }

    &left {
        &.bx--tooltip--align-{
            &start,
            &end,
            &center {
                &::before {
                    border-color:  transparent transparent transparent #393939;
                }
            }           
        }
    }


}


// Interactive tooltip styles
.bx--tooltip .bx--tooltip__caret {
    border-bottom: .42969rem solid #393939;
}


.bx--tooltip {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    min-width: 13rem;
    max-width: 18rem;
    background: #393939;
    margin-top: .25rem;
    padding: 1rem;
    border-radius: .125rem;
    z-index: 10000;
    word-wrap: break-word;
    color: #fff;
}